body{
    background: rgb(217, 224, 250);
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: rgb(170, 173, 233);
    padding: 20px;
    margin-top: 0px;
}
.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}