{% extends 'generator/base.html' %}
{% block content %}
    <h1>Правила использования: </h1>
    <h3> Для генерации случайного пароля,
        необходимо выбрать "количество символов" (от 6 до 14),
        после, по необходимости задать дополнительные условия генерации
        (верхний регистр, цифры или спецсимволы),
        и нажать на кнопку "Сгенерировать пароль". <br><br>
      <i>Если дополнительные условия не выбраны,
      тогда пароль будет состоять только из букв английского алфавита в нижнем регистре!</i>
    </h3>
    <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
{% endblock %}